.loading {
  margin: auto;
  width: 300px;
  /* height: 10px; */
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-bottom: 5px;
}

.loading:after,
.loading:before {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 5px;
  width: 100px;
  animation: loading infinite 2s ease-in-out;
  background-color: #fe7b07;
}

.loading:before {}

.loading:after {
  animation-delay: 0.2s;
}

@keyframes loading {
  0% {
    transform: translateX(-150px);
    width: 100px;
    opacity: 0;
  }
  50% {
    transform: translateX(125px);
    width: 50px;
    opacity: 1;
  }
  100% {
    transform: translateX(350px);
    width: 100px;
    opacity: 0;
  }
}

@keyframes window-in {
  from {
    transform: translateY(-1000px) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateY(0) scaleX(1);
    opacity: 1;
  }
}

@keyframes top-btn-in {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}