body {
  margin: 0;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
}

 ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

 ::-webkit-scrollbar-track,
 ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 1px solid transparent;
}

 ::-webkit-scrollbar-track {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

 ::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
          box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

 ::-webkit-scrollbar-corner {
  background: transparent;
}